{% extends 'powermonitorweb/base.html' %}
{% load staticfiles %}
{% block title %}Graphs{% endblock %}

{% block header %}Usage Graphs{% endblock %}
{% block main %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script src="{% static '/static/powermonitorweb/scripts/graphs.js' %}" ></script>
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Graphs</h3></div>
        <div class="panel-body">
            <div>
                Select the period you wish to view:
                {{ graph_period_form.as_p }}
            </div>
        <div id="chart_div" style="width:100%; height:500px;">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Metrics</h3></div>
        <div id="panel-body">
            <div id="current_usage" class="metric panel panel-primary col-xs-3">
                <div class="panel-heading"><h4>Current Usage:</h4></div>
                <p class="panel-body">
                    {% if current_usage != None %}
                    {{ current_usage }} W
                    {% else %}
                    No data available.
                    {% endif %}
                </p>
            </div>
            <div id="average_usage" class="metric panel panel-primary col-xs-3">
                <div class="panel-heading"><h4>Average Usage Per Hour:</h4></div>
                <p class="panel-body">
                    {% if average_usage != None %}
                    {{ average_usage }} W
                    {% else %}
                    No data available.
                    {% endif %}
                </p>
            </div>
            <div id="eskom_status" class="metric panel panel-primary col-xs-3">
                <div class="panel-heading"><h4>Country Power Rating:</h4></div>
                    <div class="panel-body">
                        {% if eskom_status != None %}
                        <div id="eskom_image">
                            <div class="center-helper"></div>
                            <img src="{{ STATIC_URL }}powermonitorweb/images/{{ eskom_status }}" alt="" width="50%" />
                        </div>
                        {% else %}
                        <p>
                            No data available.
                        </p>
                        {% endif %}
                    </div>
            </div>
            <div id="savings" class="metric panel panel-primary col-xs-3">
                <div class="panel-heading"><h4>Your Savings:</h4></div>
                <p class="panel-body">
                    {% if savings != None %}
                    R {{ savings }}
                    {% else %}
                    No data available.
                    {% endif %}
                </p>
            </div>
            <div id="clearfloat"></div>
        </div>
    </div>
{% endblock %}