{% extends 'powermonitorweb/base.html' %}
{% load staticfiles %}
{% block title %}Manage Reports{% endblock %}

{% block header %}Manage Your Daily Reports{% endblock %}
{% block main %}
    <script type="text/javascript" src="{% static '/static/powermonitorweb/scripts/manage_reports.js' %}" ></script>
    <script type="text/javascript" src="{% static '/static/powermonitorweb/plugins/jquery.datetimepicker.js' %}" ></script> <!-- a jquery datetime picker -->
	{% if failed %}
    <strong>Something went wrong saving your report profile.</strong>
    {% else %}
    {% if posted %}
    <strong>Report settings saved!</strong>
    {% else %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Manage Reports</h3></div>
	<div id="error-container" class="panel-body panel-nobottom"></div>
        <form id="manage_reports_form" class="panel-body fillparenttarget" method="post" action="/powermonitorweb/manage_reports/" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="pull-left col-xs-6 fillparent">
                <div class="panel panel-primary listlayout">
                    <div class="panel-heading"><h2>All Reports</h2></div>
                    <p class="panel-body">{{ report_type_form.report_type }}</p>
                </div>
            </div>
            <div class="pull-left col-xs-6 fillparent">
                <div id="display" class="panel panel-primary">
                    <div class="panel-heading"><h2>Selected Report</h2></div>
                    <div class="miniform panel-body">
                        {{ report_details_form.as_p }}                     
                        <div class="form-right">
		                    <input class="btn btn-primary" type="button" id="save_report" name="save" value="Save Changes" />
                            <input class="btn btn-success" type="button" id="enable_report" name="enable" value="Enable" />
                            <input class="btn btn-danger" type="button" id="disable_report" name="disable" value="Disable" />
		                </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
    {% endif %}
{% endblock %}
